@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>dalei</title>
    <link href="~/Content/css/publish.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="title">
            <h1>免费发布商品</h1>
        </div>
       
        <div class="biaoti">
            <h1>请选择物品大类</h1>
        </div>
        @if (ViewData["list"] != null)
        {
            <div class="list">
                <ul>
                    @foreach (Model.Nav nav in (List<Model.Nav>)ViewData["list"])
                    {
                        <li><a href="/Admin/xiaolei?did=@nav.id">@nav.name</a></li>
                    }
                </ul>

            </div>}</div>
                
</body>
</html>
