@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>滨购网-个人中心</title>
</head>
<body>
    <div></div>
</body>
</html>
