@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>滨购网-商品发布</title>
    <link href="~/Content/css/publish.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
</head>
<body>
   <div class="main">
       <div class="title">
           <h1>免费发布商品</h1>
       </div>
           @*<iframe id="ifr" class="ifr" scrolling="no" src="/Admin/dalei"></iframe>*@
       </div>
</body>
</html>
