<!DOCTYPE html>
<html>
<head>
<meta name="baidu_union_verify" content="752365e295a6f74e1092350a2a7bc1cd">
<meta name="baidu-tc-verification" content="19f5c2d19f03d40517d2684b12352275" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
   <link rel="shortcut icon" href="~/Content/img/ico.ico">
    <link rel="bookmark" href="~/Content/img/ico.ico" />
    @*<title>滨购网-校内物品交易平台</title>*@
    <meta name="keywords" content="滨购网，青岛滨海学院，滨海购物网，青岛滨海学院二手物品交易平台" />
    <meta name="description" content="滨购网，是青岛滨海学院校内物品交易平台，提供免费的商品展示和商家信息展示。" />
    <link href="~/Content/css/Index.css" rel="stylesheet" />
    <link href="~/Content/css/footer.css" rel="stylesheet" />
    @*<link href="~/Content/css/masternav.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/js.js"></script>
<script src="http://siteapp.baidu.com/static/webappservice/uaredirect.js" type="text/javascript"></script><script type="text/javascript">uaredirect("http://siteapp.baidu.com/webapp/www.bingowang.com","http://www.bingowang.com");</script>
    <script type="text/javascript">
        //控制侧边菜单显示
        var menuYloc = null;
        $(document).ready(function () { menuYloc = 200; $(window).scroll(function () { if ($(document).scrollTop() >= menuYloc) { $("#lay_menu").css("display", "block"); $("#menu").css("display", "block") } else { $("#lay_menu").css("display", "none"); $("#menu").css("display", "none") } }); })

        function autoScroll(obj) {
            $(obj).find(".list").animate({
                marginTop: "-25px"
            }, 500, function () {
                $(this).css({ marginTop: "0px" }).find("li:first").appendTo(this);
            })
        }
        $(function () {
            setInterval('autoScroll(".scroll")', 5000)
        })
    </script>

    <script type="text/javascript">

        //收藏功能
        function AddFavorite(sURL, sTitle) {
            sURL = encodeURI(sURL);
            try {
                window.external.addFavorite(sURL, sTitle);
            } catch (e) {
                try {
                    window.sidebar.addPanel(sTitle, sURL, "");
                } catch (e) {
                    alert("加入收藏失败,请使用Ctrl+D进行添加,或手动在浏览器里进行设置.");
                }
            }
        }

        $(function () {
            $(".logout").click(function () {
                userlogout();//删除信息

            });
        });
        function userlogout() {
            $.post("/Index/userlogout", function (data) {
                if (data == "ok") {
                    window.location.href = "/Index/Login";
                } else {
                    alert("删除失败,请稍后再试。");
                }
            });
        }



        function search() {
            var word = document.getElementById("search").value;
            if (word == "") {
                return;
            }window.location.href = "/List/Search?id=" + word;
        }

    </script>
    @*站长统计*@
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?5ce28a1cd0f48bd4ea46e417a6925277";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
    </script>

    @*《《《《《《《《《《新版布局js》》》》》》》》》*@
    <script type="text/javascript">
        $(function () {
            $('.fenlei ul li').mouseenter(function () {
                $(this).stop().animate({ 'height': '289px' }, 300).siblings().stop().animate({ 'height': '44px' }, 300);
                $(this).siblings().css('background', '#F5F5F5');
            }).mouseleave(function () {
                $('.fenlei ul li').stop().animate({ 'height': '79px' }, 300)
                $(this).siblings().css('background', '#ffffff');
            });
        })
    </script>
    @*《《《《《《《《《《新版布局js》》》》》》》》》*@
</head>
<body>

    <div class="header">
        <div class="header-center">
            <div class="header-center-left">
                <ul>
                    <li>
                        <a href="http://www.bingowang.com">滨购首页</a>
                    </li>
                    <li>
                        <a onClick="AddFavorite('http://www.bingowang.com', '滨购网-校内物品交易平台')" href="javascript:void(0)" title="加入收藏">收藏滨购</a>
                    </li>
                </ul>
            </div>
            <div class="header-center-right">
                <ul>
                    @if (Session["userInfo"] == null)
                    {
                        <li><a>欢迎来到滨购网</a></li>
                        <li><a href="/Index/Login">[登录]</a></li>
                        <li><a href="/Index/register">[注册]</a></li>
                    }
                    else
                    {
                        <li><a>欢迎您，@Session["userInfo"]</a></li>
                        <li><a href="javascript:void(0)" id="logout" class="logout">[退出]</a></li>
                    }

                    <li class="li-xl">
                        <a href="/Admin/Collection">我的收藏</a><i></i>
                        <div class="khfu-bottom">
                            <ul>
                                <li><a href="/Admin/Collection">商品收藏</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="li-xl">
                        <a href="/Admin/CenterPro">个人中心</a>
                        <div class="khfu-bottom">
                            <ul>
                                <li><a href="/Admin/CenterPro">商品管理</a></li>
                                <li><a href="/Admin/CenterNeed">需求管理</a></li>
                                <li><a href="/Admin/zl">个人信息</a></li>
                            </ul>
                        </div>
                    </li>
  <li class="li-xl">
                        <a>扫码穿越</a>
                        <div class="khfu-bottom">
                            <ul>
                                <li><a>官方群码</a><img src="~/Content/img/qunma.jpg" /></li>
                                <li><a>手机站码</a><img src="~/Content/img/shoujima.png" /></li>
                               
                            </ul>
                        </div>
                    </li>
                       <li><a href="/Static/about">关于我们</a></li>
                    <li><a href="/Static/lianxi">联系我们</a></li>
                    <li class="li-xl">
                        <a href="/Static/lianxi">客户服务</a>
                        <div class="khfu-bottom">
                            <ul>
                                <li><a href="/Static/lianxi">联系客服</a></li>
                                <li><a href="/Static/Backfeed">意见建议</a></li>
                                <li><a href="/Static/Backfeed">我要投诉</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    @*<div class="tips_all">
        <div class="tips"><h1>滨购规则：1、请勿在网站发布不良信息；2、线上展示，线下交易，面对面付款，请仔细鉴定商品质量；3、客服将于每天晚上10点之后对商品和需求进行审核，审核之后商品才能上架展示。</h1></div>
    </div>*@
    <div class="banner">

        <div class="banner_center">

            <div class="loginbar">
                <a href="http://www.bingowang.com"><img src="~/Content/img/bingo.png" /></a>
            </div>

            <div class="search">
                <div class="search_box">
                    <input type="text" id="search" class="search_text" placeholder="请输入想要搜索的内容" />
                    <input type="button" value="搜 索" class="search_btn" onclick="search()" accesskey="enter" />
                </div>
                <div class="hot_search">
                    <ul>
                        <li><h1>热门搜索：</h1></li>
                        <li><a class="hot_red" href="/List/SIndex?id=8">课本</a></li>
                        <li><a href="/List/SIndex?id=10">考研资料</a></li>
                        <li><a href="/List/SIndex?id=15">男装</a></li>
                        <li><a class="hot_red" href="/List/SIndex?id=16">女装</a></li>
                        <li><a  class="hot_red" href="/List/Index?id=3">手机数码</a></li>
                        <li><a href="/List/Index?id=4">运动娱乐</a></li>
                        <li><a href="/List/SIndex?id=59">食品类</a></li>
                        
                    </ul>
                </div>
            </div>

            <div class="pub">
                <a class="fb" href="/Admin/dalei">发布商品</a>
                <a class="fb" href="/Admin/NeedPublish">发布需求</a>
                @*<a class="xq" href="/Need/NeedList">查看全部需求</a>*@
            </div>
        </div>
    </div>
    <div id="lay_menu">
        <ul>
            <li>
                <div class="fankui">
                    <a href="/Static/Backfeed">我要反馈</a>
                </div>
            </li>
            <li>
                <div class="scroll" id="scroll">
                    <a href="javascript:void(0)">回到顶部</a>
                </div>

            </li>
        </ul>
    </div>

    @*<<<<<新版导航栏>>>>>>>>>>>*@
    <div id="navOut">
        <div class="nav">
            <div class="navLeft">
                <p><a class="alltype" href="/Index/AllType">全部商品分类</a></p>
                <div class="fenlei">
                    <ul>
                        <li>
                            <dl class="fenleiLeft">
                                <dt><a class="a1" href="/List/Index?id=1">书籍文具</a>
                                    <a href="/List/Index?id=1"><img class="menuimg" src="~/Content/img/1001.png"  /></a>
                                </dt>
                                <dd>
                                    <a href="/List/SIndex?id=8">课本</a>
                                    <a href="/List/SIndex?id=10">考研资料</a>
                                    <a href="/List/SIndex?id=9">期刊杂志</a>
                                    <a class="a8" href="/List/SIndex?id=13">课外读物</a>
                                    <a href="/List/SIndex?id=11">考试教材</a>
                                    <a href="/List/SIndex?id=12">稿纸笔记</a>
                                    <a class="a8" href="/List/SIndex?id=14">学习用品</a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="fenleiLeft">
                                <dt><a class="a2" href="/List/Index?id=2">服装鞋帽</a>
                                    <a href="/List/Index?id=2"><img class="menuimg" src="~/Content/img/1002.png"  /></a>
                                </dt>
                                <dd>
                                    <a href="/List/SIndex?id=15">男装</a>
                                    <a  href="/List/SIndex?id=16">女装</a>
                                    <a href="/List/SIndex?id=17">男鞋</a>
                                    <a href="/List/SIndex?id=18">女鞋</a>
                                    <a class="a7" href="/List/SIndex?id=19">箱包</a>
                                    <a href="/List/SIndex?id=20">帽子</a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="fenleiLeft">
                                <dt><a class="a3" href="/List/Index?id=3">手机数码</a>
                                    <a href="/List/Index?id=3"><img class="menuimg" src="~/Content/img/1003.png"  /></a>
                                </dt>
                                <dd>
                                    <a href="/List/SIndex?id=22">手机</a>
                                    <a class="a7" href="/List/SIndex?id=21">电脑</a>
                                    <a href="/List/SIndex?id=23">平板</a>
                                    <a href="/List/SIndex?id=24">相机</a>
                                    <a href="/List/SIndex?id=25">耳机/耳麦/音响</a>
                                    <a href="/List/SIndex?id=26">充电器/数据线/电池</a>
                                    <a href="/List/SIndex?id=27">读卡器/内存卡</a>
                                    <a href="/List/SIndex?id=28">摄像头</a>
                                    <a href="/List/SIndex?id=29">MP3/MP4</a>
                                    <a href="/List/SIndex?id=30">保护套/贴膜</a>
                                    <a class="a7" href="/List/SIndex?id=31">鼠标/键盘</a>
                                    <a href="/List/SIndex?id=32">优盘/硬盘/光盘</a>
                                    <a class="a8" href="/List/SIndex?id=33">移动电源</a>
                                    <a href="/List/SIndex?id=34">台灯/风扇</a>
                                    <a href="/List/SIndex?id=35">插排</a>
                                    <a href="/List/SIndex?id=36">收音机</a>
                                    <a href="/List/SIndex?id=37">路由器/交换机</a>
                                    <a class="a8" href="/List/SIndex?id=38">手机支架</a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="fenleiLeft">
                                <dt><a class="a4" href="/List/Index?id=5">手表首饰</a>
                                    <a href="/List/Index?id=5"><img class="menuimg" src="~/Content/img/1004.png"  /></a>
                                </dt>
                                <dd>
                                    <a href="/List/SIndex?id=46">手表</a>
                                    <a href="/List/SIndex?id=47">挂件</a>
                                    <a class="a7" href="/List/SIndex?id=48">首饰</a>
                                    <a href="/List/SIndex?id=49">眼镜</a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="fenleiLeft">
                                <dt><a class="a5" href="/List/Index?id=4">运动娱乐</a>
                                    <a href="/List/Index?id=4"><img class="menuimg" src="~/Content/img/1005.png" /></a>
                                </dt>
                                <dd>
                                    <a href="/List/SIndex?id=39">自行车</a>
                                    <a class="a7" href="/List/SIndex?id=40">球类/球拍</a>
                                    <a href="/List/SIndex?id=41">滑板/轮滑鞋</a>
                                    <a href="/List/SIndex?id=42">健身器械</a>
                                    <a href="/List/SIndex?id=43">帐篷/睡袋</a>
                                    <a href="/List/SIndex?id=44">乐器</a>
                                    <a href="/List/SIndex?id=45">登山必备</a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="fenleiLeft">
                                <dt><a class="a6" href="/List/Index?id=6">食妆生活</a>
                                    <a href="/List/Index?id=6"><img class="menuimg" src="~/Content/img/1007.png" /></a>
                                </dt>
                                <dd>
                                    <a class="a7" href="/List/SIndex?id=59">食品类</a>
                                    <a class="a7" href="/List/SIndex?id=60">个护化妆类</a>
                                    <a href="/List/SIndex?id=50">被褥/床单/凉席</a>
                                    <a class="a8" href="/List/SIndex?id=51">收纳盒/衣架/鞋架</a>
                                    <a href="/List/SIndex?id=52">桌椅/板凳</a>
                                    <a class="a7" href="/List/SIndex?id=58">雨伞</a>
                                    
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="navRight">
                <li><a href="/Need/NeedList">需求中心</a></li>
                <li><a href="javascript:;">店铺中心</a></li>
                <li><a href="javascript:;">我要开店</a></li>
                
             
            </ul>
        </div>
    </div>
    @*<<<<<新版导航栏>>>>>>>>>>>*@


  
    @RenderBody()
   
    <footer>
        <div id="ft_top"></div>
        <div id="ft_conent">

            <div id="icons">
                <ul>
                    <li>
                        <div class="span2>">
                            <img src="~/Content/img/icon1.png" />
                            <p>注册/登陆</p>
                        </div>
                    </li>
                    <li>
                        <div class="span2>">
                            <img src="~/Content/img/icon2.png" />
                            <p>发布信息</p>

                        </div>
                    </li>
                    <li>
                        <div class="span2>">
                            <img src="~/Content/img/icon3.png" />
                            <p>浏览网站</p>
                        </div>
                    </li>
                    <li>
                        <div class="span2>">
                            <img src="~/Content/img/icon4.png" />
                            <p>联系发布者</p>
                        </div>
                    </li>
                    <li>
                        <div class="span2>">
                            <img src="~/Content/img/icon5.png" />
                            <p>线下交易</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="ft_bottom">
            <div id="span3">
                <ul>
                    <li><a href="/Static/about">关于我们</a></li>
                    <li><a href="/Static/mianze">免责声明</a></li>
                    <li><a href="/Static/fwxy">服务协议</a></li>
                    <li><a href="/Static/lianxi">联系我们</a></li>
                    <li><a href="/Static/href">友情链接</a></li>
                </ul>
            </div>
            <div id="span4">Copyright &copy; 2015.Company <a href="http://www.bingowang.com" target="_blank">滨购网 </a> 版权所有 <a href="http://www.miitbeian.gov.cn/" target="_blank">ICP证：鲁ICP备15041097号-2</a></div>
        </div>
    </footer>


    <script type="text/javascript">
        $('#scroll').click(function () {
            $("html,body").animate({ scrollTop: 0 }, 200);
        });
    </script>

</body>

</html>
