<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/Gly.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    @*站长统计*@
    <script type="text/javascript">
        $(function () {
            $(".logout").click(function () {
                userlogout();//删除信息
            });
        });
        function userlogout() {
            $.post("/Index/userlogout", function (data) {
                if (data == "ok") {
                    window.location.href = "/Gly/Glylogin";
                } else {
                    alert("删除失败,请稍后再试。");
                }
            });
        }
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?5ce28a1cd0f48bd4ea46e417a6925277";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div class="Glytop">
        <div class="Gly">
            <h1>当前管理员：@Session["glyInfo"]</h1><a href="javascript:void(0)" id="logout" class="logout">[退出]</a>
        </div>
    </div>
    <div class="gly_main">
        <div class="ahref">
            <ul>
                <li><a href="/Gly/GlyPro">商品管理</a></li>
                <li><a href="/Gly/GlyNeed">需求管理</a></li>
                <li><a href="/Gly/Glyadd">添加管理员</a></li>
                <li><a href="/Gly/Allgly">查看管理员</a></li>
                <li><a href="/Gly/Publishgg">发布公告</a></li>
            </ul>
        </div>
       
            @RenderBody()
        <div style="clear:both;"></div>
    </div>
  
   
</body>
</html>
