@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>滨购网-全部商品类别</title>
</head>
<body>
    <div id="content">
        <div class="item">
            <div class="type">
                <div class="btype">
                    <a class="bbtype" href="/List/Index?id=1">书籍文具</a>
                </div>
                <div class="stype">
                    <a href="/List/SIndex?id=8">课本</a>
                    <a href="/List/SIndex?id=10">考研资料</a>
                    <a href="/List/SIndex?id=9">期刊杂志</a>
                    <a href="/List/SIndex?id=13">课外读物</a>
                    <a href="/List/SIndex?id=11">考试教材</a>
                    <a href="/List/SIndex?id=12">稿纸笔记</a>
                    <a href="/List/SIndex?id=14">学习用品</a>
                </div>
            </div>
            <div class="type">
                <div class="btype">
                    <a class="bbtype" href="/List/Index?id=2">服装鞋帽</a>
                </div>
                <div class="stype">
                    <a href="/List/SIndex?id=15">男装</a>
                    <a href="/List/SIndex?id=16">女装</a>
                    <a href="/List/SIndex?id=17">男鞋</a>
                    <a href="/List/SIndex?id=18">女鞋</a>
                    <a href="/List/SIndex?id=19">箱包</a>
                    <a href="/List/SIndex?id=20">帽子</a>
                    </div>
                </div>
            <div class="type">
                <div class="btype">
                    <a class="bbtype" href="/List/Index?id=3">数码产品</a>
                    </div>
                <div class="stype">
                  <a href="/List/SIndex?id=22">手机</a>
                         <a href="/List/SIndex?id=21">电脑</a>
                         <a href="/List/SIndex?id=23">平板</a>
                         <a href="/List/SIndex?id=24">相机</a>
                          <a href="/List/SIndex?id=25">耳机/耳麦/音响</a>
                       <a href="/List/SIndex?id=26">充电器/数据线/电池</a>
                          <a href="/List/SIndex?id=27">读卡器/内存卡</a>
                           <a href="/List/SIndex?id=28">摄像头</a>
                          <a href="/List/SIndex?id=29">MP3/MP4</a>
                         <a href="/List/SIndex?id=30">保护套/贴膜</a>
                        <a href="/List/SIndex?id=31">鼠标/键盘</a>
                        <a href="/List/SIndex?id=32">优盘/硬盘/光盘</a>
                       <a href="/List/SIndex?id=33">移动电源</a>
                         <a href="/List/SIndex?id=34">台灯/风扇</a>
                          <a href="/List/SIndex?id=35">插排</a>
                           <a href="/List/SIndex?id=36">收音机</a>
                        <a href="/List/SIndex?id=37">路由器/交换机</a>
                         <a href="/List/SIndex?id=38">手机支架</a>
                </div>
                </div>
            <div class="type">
                <div class="btype">
                    <a class="bbtype" href="/List/Index?id=5">手表首饰</a>
                    </div>
                <div class="stype">
                    <a href="/List/SIndex?id=46">手表</a>
                    <a href="/List/SIndex?id=47">挂件</a>
                    <a href="/List/SIndex?id=48">首饰</a>
                    <a href="/List/SIndex?id=49">眼镜</a>
                    </div>
                </div>
            <div class="type">
                <div class="btype">
                    <a class="bbtype" href="/List/Index?id=4">运动娱乐</a>
                </div>
                <div class="stype">
                    <a href="/List/SIndex?id=39">自行车</a>
                    <a href="/List/SIndex?id=40">球/球拍</a>
                    <a href="/List/SIndex?id=41">滑板/轮滑鞋</a>
                    <a href="/List/SIndex?id=42">健身器械</a>
                    <a href="/List/SIndex?id=43">帐篷/睡袋</a>
                    <a href="/List/SIndex?id=44">乐器</a>
                    <a href="/List/SIndex?id=45">登山必备</a>
                    </div>
                </div>
            <div class="type">
                <div class="btype">
                    <a class="bbtype" href="/List/Index?id=6">食妆生活</a>
                </div>
                <div class="stype">
                    <a href="/List/SIndex?id=59">食品类</a>
                    <a href="/List/SIndex?id=60">个护化妆类</a>
                    <a href="/List/SIndex?id=50">被褥/床单/凉席</a>
                    <a href="/List/SIndex?id=51">收纳盒/衣架/鞋架</a>
                    <a href="/List/SIndex?id=52">桌椅/板凳</a>
                    <a href="/List/SIndex?id=58">雨伞</a>
                    </div>
                </div>
        </div>
    </div>

</body>
</html>
