@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>联系我们</title>
    <link href="~/Content/css/Static.css" rel="stylesheet" />
</head>
<body>
    <div class="mz">
        <div class="title"><h3>联系我们</h3></div>
        <div class="content">
            <div class="qq">
                <ul>
                    <li><h3><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=40c065aee08362f89f6a9565d5441246163c021e5edc4bf2">联系客服</a></h3></li>
                <li><h3><a target=blank href=tencent://message/?uin=1303841222&Site=im.qq.com&Menu=yes>联系客服</a></h3></li>
</ul>
            </div>
            
            <div class="dz"><h3>电话联系：18364290448</h3></div>
           <div class="dz"><h3>官方群号：513959275</h3></div>
        </div>
        </div>
</body>
</html>
