@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>免责声明</title>
    <link href="~/Content/css/Static.css" rel="stylesheet" />
</head>
<body>
   <div class="mz">
       <div class="title"><h3>免责声明</h3></div>
       <div class="content">
         <p>1.本网站对于任何自本网站而获得的他人的信息、内容或者广告宣传等任何资讯（以下统称“信息”），不保证真实、准确和完整性。如果任何单位或者个人通过上述“信息”而进行任何行为，须自行甄别真伪和谨慎预防风险，否则，无论何种原因，本网站不对任何非与本网站直接发生的交易和/或行为承担任何直接、间接、附带或衍生的损失和责任。</p> 
           <p>2.本网站有权但无义务，改善或更正本网站任何部分之任何疏漏、错误。</p>
           <p>3.本网站不保证（包括但不限于）：
a.本网站适合用户的使用要求；
b.本网站不受干扰，及时、安全、可靠或不出现错误；
c.用户经由本网站取得的任何产品、服务或其他材料符合用户的期望。</p>
           <p>4.用户使用经由本网站下载的或取得的任何资料，其风险自行负担；因该等使用导致用户电脑系统损坏或资料流失，用户应负完全责任；</p>
           <p>5.基于以下原因而造成的损失或其他有形或无形损失，本网站不承担任何直接、间接、附带、衍生或惩罚性的赔偿：
a.本网站使用或无法使用；
b.经由本网站购买或取得的任何产品、资料或服务；
c.用户资料遭到未授权的使用或修改；
d.其他与本网站相关的事宜。</p>
           <p>6.用户在浏览互联网时自行判断使用本网站的搜索或检索目录。该搜索或检索目录可能会引导用户进入到被认为具有攻击性或不适当的网站，合一公司没有义务查看检索目录所列网站的内容，因此，对其正确性、合法性、正当性不负任何责任。</p>
       </div>
   </div>
</body>
</html>
