input, textarea {
    outline: none;
}
 /*----------------管理员---------------------------*/
             .Glytop{height:100px;width:100%;background-color:#d4d4d4;}
     .Glytop .Gly{height:40px;line-height:40px;}
     .gly_main{height:1000px;width:100%;background-color:#FAFAFA;}
     .gly_main .ahref{width:18%;float:left;background-color:#fff;}
          .gly_main .ahref ul li{ height:50px;text-align:center;line-height:50px;border-bottom:1px solid #787d82;margin-left:20px;margin-right:20px;}
       .gly_main .ahref li a{color:#787d82;font-size:16px;text-decoration:none;}
       .gly_main .ahref li a:hover{color:black;}
       
       
       .main .allgly{width:1000px;}
       .main .allgly .name{width:200px;float:left;height:40px;text-align:center;border-bottom:1px solid #FA4332; line-height:40px;}
        .main .allgly .pwd{width:200px;float:left;height:40px;text-align:center;line-height:40px;border-bottom:1px solid #FA4332;}
         .main .allgly .phone{width:200px;float:left;height:40px;text-align:center;line-height:40px;border-bottom:1px solid #FA4332;}
          .main .allgly .time{width:200px;float:left;height:40px;text-align:center;line-height:40px;border-bottom:1px solid #FA4332;}
         .main .allgly .bj{width:200px;float:left;height:40px;text-align:center;line-height:40px;border-bottom:1px solid #FA4332;}

        /*管理员商品样式*/
        .gly_pro{
            width:80%;border:1px solid #fff;float:left;
           
        }
          .gly_pro .gly_img_box {
                background-color: #fff;
                width: 230px;
                height: 334px;
                float: left;
                border: 1px solid #fff;
                margin-left: 9px;
                margin-top: 3px;
                margin-bottom: 3px;
                box-shadow:2px 2px 10px #909090;
            }

                .gly_pro .gly_img_box img {
                    border: none;
                    width: 98%;
                    height: 250px;
                    margin-left: 1%;
                    margin-top: 2px;
                }

                 .gly_pro .gly_img_box .gly_title {
                    margin-top: 2px;
                    height: 38px;
                    text-align: left;
                    width: 90%;
                    margin-left: 5%;
                    overflow: hidden;
                }

                    .gly_pro .gly_img_box .gly_title a {
                        font-family: "Microsoft YaHei";
                        color: #666;
                        text-decoration: none;
                        font-size: 15px;
                        font-style: normal;
                    }

                         .gly_pro .gly_img_box .gly_title a:hover {
                        }
                          .gly_pro .gly_img_box .gly_cz{
                              margin-top:5px;
                              text-align:center;
                          }
                         .gly_pro .gly_img_box .gly_cz ul li{
                             width:30%;
                             height:30px;
                             display:inline-block;
                             background-color:#fa4332;
                         }
                          .gly_pro .gly_img_box .gly_cz ul li a{
                              line-height:30px;
                          }
                /*管理员商品样式*/