@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>关于平台</title>
    <link href="~/Content/css/Static.css" rel="stylesheet" />
</head>
<body>
    <div class="mz">
        <div class="title"><h3>关于我们</h3></div>
        <div class="content">
          <p>尊敬的用户，您好，滨购网是专门为大学生提供免费服务的平台，我们致力于打造大学生校园内部最大的免费在线交易平台。</p>
            <p>滨购网依赖“货真价实、物美价廉”的原则，帮助在校大学生销售闲置物品。希望能够得到同学们的使用，并且在平台上能够找到有用的物品。</p>
            <p>关于网站制作者的说明：</p>
            <p>网站制作者为在校大学生，作为计算机专业的学生，很希望能够做些什么为大家服务，然而我们也不是技术大触，我们有很多的知识缺陷和能力不足，不管你使用本网站是否能够接受，不论是骂声还是鼓励的声音，我们都将会接受，我们希望用户能够为我们提供宝贵的意见和建议，并且在以后的制作中不断地完善和改进，以便于更好为大家服务。</p>
</div>
    </div>
</body>
</html>
