@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>服务协议</title>
    <link href="~/Content/css/Static.css" rel="stylesheet" />
</head>
<body>
    <div class="mz">
        <div class="title"><h3>服务协议</h3></div>
        <div class="content">
            <p>本协议具有合同效力，您应当阅读并遵守本协议。请您务必审慎阅读、充分理解各条款内容。</p>
            <p>一、协议确认</p>
            <p> 1.您同意并点击确认本协议条款序后，才能通过登录（登录账号为本人学号及密码为教务管理系统的密码）成为本网站的正式用户，并享受各类服务。</p>
            <p> 2.根据国家法律法规变化及网站运营需要，本网站有权对本协议条款不时进行修改，修改后的协议一经发布并经您确认同意后即刻生效，并代替原来的协议。您可在本网站随时查阅最新协议。您若不同意更新后的协议，则将不能享受本网站依据本协议提供的各项服务。</p>
            <p> 3.本协议包括协议正文及所有本网站已经发布的，或未来可能发布或更新的各类规则。所有规则为本协议不可分割的组成部分，与本协议正文具有同等法律效力。在您申请成为本网站用户前，请仔细阅读本协议的正文内容及以上各类规则。</p>
            <p>  4.在您完成协议签订程序后，即表示您自愿接受本协议，正式成为本网站的用户，并认可本协议全部条款内容。若您不同意本协议，或对本协议中的条款存在任何疑问，请您立即协议签订程序，并可以选择不使用本网站服务。</p>
            <p> 5.您点击同意本协议后，即视为您确认自己具有享受本网站务相应的权利能力和行为能力，能够独立承担法律责任。</p> 
            <p>6.本网站保留在法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容的权利。</p>   
            <p>7.网站管理员对网站服务不承担任何责任，公司不保证服务一定会满足用户的使用要求，也不保证服务不会被中断，对服务的及时性、安全性、准确性也不作担保。</p>  
            <p>二、用户管理</p>  
            <p>1.您登录成功后，本网站会将您的账号及密码，作为您使用本网站服务的唯一身份标识。该账户的所有权归属于本网站，您仅拥有使用权。登录账户时，您需使用您的学号作为登录用户名，但在登录时您必须输入您设定并保管的所在学校的正方教务系统的账户密码。为保护您的权益，您在设定账户的密码时，请勿使用重复性或者连续数字的简单密码。请您对密码加以妥善保管，切勿将密码告知他人，因密码保管不善而造成的所有损失由您自行承担。</p>  
            <p>2、 本网站只允许每位用户使用一个本网站账户。如有证据证明或本网站有理由相信您存在使用多个本网站账户的情形，本网站有权采取冻结或关闭账户及拒绝提供服务等措施，如给本网站及相关方造成损失的，您还应承担赔偿责任。</p>  
            <p>3、您对通过您的账户所进行的活动、行为和事件依法享有权利和承担责任，且不得以任何形式转让账户、授权他人使用您的账户以及与他人交易账户。</p>    
            <p>4、鉴于网络服务的特殊性，本网站无义务审核是否是您本人使用该组用户名及密码，仅审核用户名及密码是否与数据库中保存的一致，任何人只要输入的用户名及密码与数据库中保存的一致，即可凭借该组用户名及密码登陆并获得本网站所提供的各类服务，所以即使您认为您的账户登陆行为并非您本人所为，本网站将不承担因此而产生的任何责任。</p>   
            <p> 5、对于恶意购买和不正当手段获得的商品，本网站有权作出独立判断并采取包含但不限于冻结您的用户账户的措施。</p>
           <p> 三、用户活动规则</p>
            <p>1.用户在网站挂出想要交易二手网站时，需要经过网站管理员的审核，经网站审核同意后才能挂在网站的相关版面中。</p>
            <p>（1）网站禁止上载、张贴、发送电子邮件或传送包含任何反对宪法所确定的基本原则、危害国家安全、泄露国家秘密、颠覆国家政权、破坏国家统一、破坏民族团结、损害国家荣誉和利益、煽动民族仇恨、民族歧视、破坏民族团结、破坏国家宗教政策、宣扬邪教和封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪、侮辱或者诽谤他人，侵害他人合法权益的等法律、行政法规禁止的内容或其他另人反感的包括但不限于资讯、资料、文字、软件、音乐、照片、图形、信息或其他资料（以下简称内容）。</p>
            <p>（2）禁止冒充任何人或机构，或以虚伪不实的方式谎称或使人误认为与任何人或任何机构有关。</p>
            <p>（3）禁止将无权传送的内容（例如内部资料、机密资料）进行上载、张贴、发送电子邮件或以其他方式传送。</p>
            <p>（4）禁止将侵犯任何人的专利、商标、著作权、商业秘密或其他专属权利之内容加以上载、张贴、发送电子邮件或以其他方式传送。</p>
            <p>（5）禁止将广告函件、促销资料、"垃圾邮件"等，加以上载、张贴、发送电子邮件或以其他方式传送。供前述目的使用的专用区域除外。</p>
            <p>（6）禁止将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、张贴、发送电子邮件或以其他方式传送。</p>
           <p>（7）禁止故意或非故意违反任何相关的中国法律、法规、规章、条例等其他具有法律效力的规范。</p>
           <p> 2.   用户需要预留自己的联系方式，为购买者提供交流方式，本网站只提供商品展示功能，不提供交易功能。如若交易，需商家与客户自己联系。</p>
           <p> 3.   在买卖双方发成交易后，所出现的产品问题，网站将不对其负责。</p>
           <p> 四、网站义务</p>
          <p>涉及您的真实姓名/名称、通信地址、联系电话、电子邮箱、订单详情、评价或反馈、投诉内容、cookies等信息的，本网站有权从完成交易、提供配送、售后及客户服务、开展活动、完成良好的顾客体验等多种角度予以收集，并将对其中涉及个人隐私信息予以严格保密。</p>
          <p>本网站保证不对外公开或向任何第三方提供您的个人信息，但是存在下列情形之一的除外：
            ①	事先获得您的明确授权；
            ②	系为履行您的订单或保护您的合法权利所必须；
            ③	系为履行法律义务；</p>
          <p>五、适用的法律和管辖权</p>
           <p>本协议的订立、执行和解释及争议的解决均应适用中华人民共和国的法律。如就本协议内容或其执行发生任何争议，则双方应首先通过友好协商方式解决；协商不成的，任何一方均应向上海市浦东新区人民法院提起诉讼。</p>
          <p>  六、其他</p>
           <p>1、本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
            <p>  2、如本协议中的任何条款无论因何种原因被视为完全或部分无效或不具有执行力，该条应视为可分的，且不影响本协议的任何其余条款的有效性、约束力及可执行性。</p>
            <p>3、本协议中的标题仅为方便而设，不具法律或契约效果。</p> 
        </div>
     </div>
</body>
</html>
