@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>href</title>
    <link href="~/Content/css/Static.css" rel="stylesheet" />
</head>
<body>
    <div class="mz">
        <div class="title"><h3>友情链接</h3></div>
        <div class="content">
            <div class="qq">
                <ul>
                    <li><a href="http://www.qdbhu.edu.cn/" target="_blank">青岛滨海学院官网</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
