@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>联系我们</title>
    <link href="~/Content/css/Static.css" rel="stylesheet" />
</head>
<body>
    <div class="mz">
        <div class="title"><h3>联系我们</h3></div>
        <div class="content">
            <div class="qq">
                <ul>
                    <li><h3>官方群：241188485</h3></li>
                    <li><h3>客服QQ：1259110433</h3></li>
                    <li><h3>客服QQ：1303841222</h3></li>
                    <li><h3>客服QQ：491561009</h3></li>
                    <li><h3>客服QQ：718813396</h3></li>
                    <li><h3>客服QQ：995689208</h3></li>
                    <li><h3>客服QQ：1557058135</h3></li>
                </ul>
            </div>
            <div class="dz"><h3>电话联系：18364290448</h3></div>
            <div class="dz"><h3>工作地点：青岛滨海学院嵩德楼B座615工作室</h3></div>
           
        </div>
        </div>
</body>
</html>
